<div class={{className}}>
    <div class={{styles.conteiner}}>
        {{> Avatar avatarContext  }}
        <div class={{styles.center}}>
            <span class={{styles.user}}>{{firstName}} {{lastName}}</span>
            <span class={{styles.message}}>{{message}}</span>
        </div>
    </div>
    {{#if unreadMessages}}
        <div class={{styles.unread}}>
            <span>{{unreadMessages}}</span>
        </div>
    {{/if}}
</div>
