<div class="chat">
  <div class="chat__left">
    <a href="/profile/index.html" class="chat__link-profile">Профиль ></a>
    <input class="chat__search" type="search" name="search" placeholder="посик">
    {{{dialog}}}
    {{{dialogChat}}}
  </div>
  <div class="chat__right">
    <div class="chat__top">
      <div class="chat__img"></div>
      <span class="chat__name">
        {{{name}}}
      </span>
    </div>
    <div class="chat__content">
     {{{message}}}
    </div>
    <div class="chat__bottom">
      {{{messegeInput}}}
    </div>
  </div>
</div>
