<form class="form" method="post" name="formEnter" enctype="multipart/form-data" autocomplete="off" action="#">
  <div class="form__block">
    <h2 class="form__header">{{{header}}}</h2>
    <div class="form__item">
      {{{ inputMail }}}
    </div>
    <div class="form__item">
      {{{ inputLogin }}}
    </div>
    <div class="form__item">
      {{{ inputName }}}
    </div>
    <div class="form__item">
      {{{ inputLastName }}}
    </div>
    <div class="form__item">
      {{{ inputPhone }}}
    </div>
    <div class="form__item">
      {{{ inputPassword }}}
    </div>
    <div class="form__button">
      {{{ button }}}
    </div>
    <div class="form__footer">
      <a class="form__footer-link" href={{link}}>
        {{{footerText}}}
      </a>
    </div>
  </div>
</form>
