<!--mixin input-change(title, modifierClass="")-->
<div class="input-change {{modifierClass}}">
  <label class="input-change__name">{{title}}</label>
  <input class="input-change__enter" type = {{type}} placeholder={{placeholder}} name={{name}} disabled>
  <div class="input-change__error"></div>
</div>
