<div class={{styles.wrapper}}>
    <div class={{styles.main}}>
        <div class={{styles.conteiner}}>
            <div class={{styles.picture}}></div>
            <h1 class={{styles.title}}>Server fail</h1>
            <a class={{styles.home}} href="/">GO HOME</a>
        </div>
    </div>
</div>

