<div class={{className}}>
    <div class={{styles.avatar}}>
        {{> Avatar avatarContext  }}
    </div>
    <div class={{styles.message}}>
        <span class={{styles.user}}>{{firstName}} {{lastName}}</span>
        <span class={{messageClass}}>{{message}}</span>
    </div>
</div>
