<div class="form form--profile">
  <form class="form__block" method="post" name="formProfile" enctype="multipart/form-data" autocomplete="off" action="#">
    {{{avatar}}}
    <div class="form__item">
      {{{inputMail}}}
      <br />
      {{{inputLogin}}}
      <br />
      {{{inputName}}}
      <br />
      {{{inputLastName}}}
      <br />
      {{{nameChat}}}
      <br />
      {{{inputTel}}}
    </div>
    {{{button}}}
  </form>
</div>
