<div class="form form--profile">
  <form class="form__block" method="post" name="formProfile" enctype="multipart/form-data" autocomplete="off" action="#">
    {{{avatar}}}
    <div class="form__item">
      {{{inputMail}}}
      {{{inputLogin}}}
      {{{inputName}}}
      {{{inputLastName}}}
      {{{inputTel}}}
      {{{oldPassword}}}
      <div class="form__footer">
        <a class="form__line" href="/profile-change/index.html">Изменить данные</a>
        <a class="form__line" href="/password-change/index.html">Изменить пароль</a>
        <a class="form__line form__line--exit" href="/index.html">Выйти</a>
      </div>
    </div>
  </form>
{{{modal}}}
</div>
